source/constructs/lib/agent/DiscoveryJob-Structured.json
{
  "StartAt": "NeedRunCrawler",
  "States": {
    "NeedRunCrawler": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.NeedRunCrawler",
          "BooleanEquals": true,
          "Next": "FirstWait"
        }
      ],
      "Default": "IsGlue"
    },
    "IsGlue": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.DatabaseType",
          "StringEquals": "glue",
          "Next": "SendGlueSchemaMessage"
        }
      ],
      "Default": "SplitJob"
    },
    "SendGlueSchemaMessage": {
      "Type": "Task",
      "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:SDPS-CrawlerTrigger:$LATEST",
        "Payload": {
          "detail": {
            "accountId.$": "$.AccountId",
            "databaseType": "glue",
            "crawlerName.$": "$.DatabaseName",
            "state": "Succeeded"
          },
          "region.$": "$.Region"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "SplitJob",
      "ResultPath": "$.SendGlueSchemaMessage"
    },
    "FirstWait": {
      "Type": "Wait",
      "Next": "GetCrawler",
      "SecondsPath": "$.FirstWait"
    },
    "GetCrawler": {
      "Type": "Task",
      "Parameters": {
        "Name.$": "$.CrawlerName"
      },
      "Resource": "arn:${AWS::Partition}:states:::aws-sdk:glue:getCrawler",
      "ResultPath": "$.GetCrawler",
      "Next": "NeedStartCrawler",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 100,
          "MaxAttempts": 3
        }
      ]
    },
    "NeedStartCrawler": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.GetCrawler.Crawler.State",
          "StringEquals": "READY",
          "Next": "StartCrawler"
        }
      ],
      "Default": "Wait"
    },
    "StartCrawler": {
      "Type": "Task",
      "Parameters": {
        "Name.$": "$.CrawlerName"
      },
      "ResultPath": "$.StartCrawler",
      "Resource": "arn:${AWS::Partition}:states:::aws-sdk:glue:startCrawler",
      "Next": "Wait",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 100,
          "MaxAttempts": 3
        }
      ]
    },
    "GetCrawler2": {
      "Type": "Task",
      "Parameters": {
        "Name.$": "$.CrawlerName"
      },
      "Resource": "arn:${AWS::Partition}:states:::aws-sdk:glue:getCrawler",
      "Next": "CheckCrawlerState",
      "ResultPath": "$.GetCrawler",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 100,
          "MaxAttempts": 3
        }
      ]
    },
    "CheckCrawlerState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.GetCrawler.Crawler.State",
          "StringEquals": "READY",
          "Next": "SplitJob"
        },
        {
          "Or": [
            {
              "Variable": "$.GetCrawler.Crawler.State",
              "StringEquals": "FAILED"
            },
            {
              "Variable": "$.GetCrawler.Crawler.State",
              "StringEquals": "CANCELLED"
            }
          ],
          "Next": "GetCrawlerFail"
        }
      ],
      "Default": "Wait"
    },
    "SplitJob": {
      "Type": "Task",
      "Resource": "arn:${AWS::Partition}:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:${AWS::Partition}:lambda:${AWS::Region}:${AWS::AccountId}:function:SDPS-SplitJob:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Map"
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Glue StartJobRun",
        "States": {
          "Glue StartJobRun": {
            "Type": "Task",
            "Resource": "arn:${AWS::Partition}:states:::glue:startJobRun.sync",
            "Parameters": {
              "JobName.$": "$.JobNameStructured",
              "Arguments": {
                "--JobId.$": "$.JobId",
                "--RunId.$": "$.RunId",
                "--RunDatabaseId.$": "$.RunDatabaseId",
                "--AccountId.$": "$.AccountId",
                "--Region.$": "$.Region",
                "--DatabaseType.$": "$.DatabaseType",
                "--DatabaseName.$": "$.DatabaseName",
                "--GlueDatabaseName.$": "$.GlueDatabaseName",
                "--TableName.$": "$.TableName",
                "--TemplateId.$": "$.TemplateId",
                "--TemplateSnapshotNo.$": "$.TemplateSnapshotNo",
                "--Depth.$": "$.DepthStructured",
                "--ExcludeKeywords.$": "$.ExcludeKeywords",
                "--IncludeKeywords.$": "$.IncludeKeywords",
                "--ExcludeFileExtensions.$": "$.ExcludeFileExtensions",
                "--IncludeFileExtensions.$": "$.IncludeFileExtensions",
                "--BaseTime.$": "$.BaseTime",
                "--DetectionThreshold.$": "$.DetectionThreshold",
                "--AdminAccountId.$": "$.AdminAccountId",
                "--BucketName.$": "$.BucketName",
                "--TableBegin.$": "$.TableBegin",
                "--TableEnd.$": "$.TableEnd",
                "--additional-python-modules.$": "$.AdditionalPythonModules"
              }
            },
            "End": true,
            "ResultPath": "$.StartJobRun",
            "Retry": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "BackoffRate": 2,
                "IntervalSeconds": 100,
                "MaxAttempts": 3
              }
            ]
          }
        }
      },
      "Next": "SuccessPass",
      "ItemsPath": "$.JobItems",
      "OutputPath": "$.[0]"
    },
    "GetCrawlerFail": {
      "Type": "Pass",
      "Next": "Fail",
      "Result": {
        "State": "Failed",
        "Message": "The state of the crawler is not ready."
      },
      "ResultPath": "$.Result"
    },
    "SuccessPass": {
      "Type": "Pass",
      "Result": {
        "State": "Succeeded"
      },
      "ResultPath": "$.Result",
      "End": true
    },
    "Wait": {
      "Type": "Wait",
      "Next": "GetCrawler2",
      "SecondsPath": "$.LoopWait"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}